<div class="header-row">
    <div class="logo">
        <a href="https://h1teq.com" target="_blank">
            <img src="../../../assets/images/h1teq_logo_stacked_white.png" />
        </a>
    </div>
    <ul>
        <li>
            <a [routerLink]="['/landing']">Landing</a>
        </li>
        <li>
            <a [routerLink]="['/detail']">Dominique's Detail</a>
        </li>
        <li>
            <a href="https://twitter.com/starwars" target="_blank">Star Wars</a>
        </li>
    </ul>
</div>