
    a {
        color: #fff;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    .logo img {
        padding: 25px;
        width: 100px;

    }

    .header-row {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .header-row ul {
        list-style: none;
        margin: 25px;

    }

    .header-row li {
        display: inline-block;
        margin: 15px;
        color: #fff;
        font-size: 25px;
    }