
    .resume-container {
        width: 100%;
        position: absolute;
        top: 150px;
        right: 0px;
        bottom: 100px;
        left: 0px;
        overflow-y: auto;
        overflow-x: hidden;
    }