<app-header></app-header>
<div class="landing-container">
    <div>
        &nbsp;
    </div>
    <div class="star-wars-starships-container">
        <div class="title">
            Star Wars Starships
        </div>
        <div class="list-container">
            <table>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Speed
                    </th>
                </tr>
                <tr *ngFor="let ship of starships">
                    <td>
                        {{ship.name}}
                    </td>
                    <td>
                        {{ship.max_atmosphering_speed}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<app-footer></app-footer>